<input type="file" id="image_file" name="gallery[image][file][]" multiple="multiple" />	

{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
{{ form_start(form, {'attr': {'class': 'ajax-form', 'id': 'image_gallery_form'} }) }}
{{ include('dlouhyImageBundle:ImageGallery:gallery_form_content.html.twig', { 'form': form }) }}
{{ form_end(form) }}