{% extends 'dlouhyAdminTemplateBundle::admin.html.twig' %}

{% block title %}{{ 'image.gallery'|trans }}{% endblock %}
{% block bdCurrent %}{{ 'image.gallery'|trans }}{% endblock %}

{% block content %}

	<h1 class="page-header">{% block header %}{{ 'image.gallery'|trans }}{% endblock %}</h1>

	{{ include('dlouhyImageBundle:ImageGallery:gallery_form.html.twig', { 'form': form }) }}

{% endblock %}

{% block stylesheets %}	
	{% stylesheets 
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css'
		filter='cssrewrite'	
	%}	
	<link rel="stylesheet" href="{{ asset_url }}" />
	{{ parent() }}
	{% endstylesheets %}					
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.js'
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cs.js'
		'@dlouhyAdminTemplateBundle/Resources/public/js/bootstrap-fileinput.js'
		'@dlouhyImageBundle/Resources/public/js/gallery-form.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script type="text/javascript">
		$(document).ready(function() {
			galleryForm.init('{{ uploadPath }}', '{{ showPath }}')
		});
	</script>
{% endblock javascripts %}